<div class="pane-group">
    <div class="pane-sm sidebar">
        <ul class="list-group">
            <li class="list-group-header">
                <input class="form-control" type="text" placeholder="Search for someone">
            </li>
        </ul>
        <nav class="nav-group">
            <h5 class="nav-group-title">Favorites</h5>
                    <span class="nav-group-item">
                        <span class="icon icon-download"></span>Downloads
                    </span>
                    <span class="nav-group-item">
                        <span class="icon icon-folder"></span>
                        Documents
                    </span>
        </nav>
        <nav class="nav-group">
            <h5 class="nav-group-title">Tags</h5>
                    <span class="nav-group-item">
                        GSDE
                    </span>
        </nav>
    </div>
    <div class="pane">
        Search
    </div>
</div>